body {
    font-size: 14px;
}

.donation {
    margin-top: 30px;
}

.horizontal-button {
    
    height: 100px;
    margin: 15px 0px;
}

.horizontal-button h1 {
    color: white;
    text-align: center;
    padding: 8% 0;
    font-size: 32px;
}
.button a:hover{
    text-decoration: none;
    
}
#donar{
    background-color: dodgerblue;
}
#support{
    background-color: firebrick;
}
#result{
    background-color: chartreuse
}
.join {
    background-color: blue;
    margin: 15px 0px;
}

.join h1 {
    color: white;
    text-align: center;
    padding: 80% 0;
    font-size: 32px;
}
.map{
    height:350px;
    width: 70%;
    margin-left: 15%;
}
footer p{
    text-align: center;
}